:root {
    --doc-height: 100%;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-blue: #2b08c2;
    --top: 1rem;
    --left-right: 4rem;
    --header-text-size: 1.2rem;
    --main-text-size: 2rem;
    --text-size: 1.2rem;
    --small-text-size: .85rem;
    --spanWidth: 80vw;
    --spanTiming: 20s;
}